html, body, ul, li{
	margin:0;
	padding:0;
}
.headerContainer{
	background-color: black;
	opacity: 0.95;
	width: 100%;
	height: auto;
}
#Logo{
	width: 10%;
	height: auto;
}
li{
	list-style-type: none;
}
.menuContainer{
    transition:.5s;
	width: 100%;
	height: 82px;
}
#navList{
	position: absolute;
	display: inline-block;
	width: 100%;
	height: 82px;
}
#navList p{
	position: relative;
	text-align: center;
	display: inline-block;
	margin: 0 auto;
	height: 100%;
	width: 100%;
	line-height: 80px;
	font-size: 20px;
	font-family: Optima;
	font-style: italic;
	color: orange;
}
.menu{
	position: relative;
	display: inline-block;
	text-align: center;
	float: left;
	width: 20%;
	height: auto;
}
#headingImage{
	width: 100%;
	height: 425px;
}

#headingImage #Banner{
	width: 100%;
	height: 100%;
}
.BodyContainer{
	background-color: black;
	width: 100%;
	height: 100%;
	padding-bottom: 90px;
}


/*news*/
.NewsBodyContainer{
	background-color: black;
	width: 100%;
	height: 100%;
}
#pesan1{
	color: white;
	border: 2px solid blue;
	padding-left: 50px;
	padding-right: 50px;
	padding-top: 50px;
	padding-bottom: 50px;
	margin-left: 150px;
	margin-right: 150px;
}
#pesan2{
	color: white;
	border: 2px solid blue;
	padding-left: 50px;
	padding-right: 50px;
	padding-top: 50px;
	padding-bottom: 50px;
	margin-left: 150px;
	margin-right: 150px;
}
#pesan3{
	color: white;
	border: 2px solid blue;
	padding-left: 50px;
	padding-right: 50px;
	padding-top: 50px;
	padding-bottom: 50px;
	margin-left: 150px;
	margin-right: 150px;
}
#pesan4{
	color: white;
	border: 2px solid blue;
	padding-left: 50px;
	padding-right: 50px;
	padding-top: 50px;
	padding-bottom: 50px;
	margin-left: 150px;
	margin-right: 150px;
}
#pesan5{
	color: white;
	border: 2px solid blue;
	padding-left: 50px;
	padding-right: 50px;
	padding-top: 50px;
	padding-bottom: 50px;
	margin-left: 150px;
	margin-right: 150px;
}
/*</news/*/
.BodyContainer h1{
	transition: .5s;
	padding-top:50px;
	padding-bottom:50px;
	padding-left:110px; 
	padding-right:110px;
	margin:0px;
	font-size: 45px;
	text-align: center;
	font-style: italic;
	color:white;
}

@import url('http://fonts.googleapis.com/css?family=Alegreya+Sans:400,700');

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  outline: none;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
html { overflow-y: scroll; }
body {
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 62.5%;
  line-height: 1;
  padding-bottom: 0px;
  color: #353535;
}

br { display: block; line-height: 1.6em; } 

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section { display: block; }
ol, ul { list-style: none; }

input, textarea { 
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  outline: none; 
}

blockquote, q { quotes: none; }
blockquote:before, blockquote:after, q:before, q:after { content: ''; content: none; }
strong, b { font-weight: bold; }
em, i { font-style: italic; }

table { border-collapse: collapse; border-spacing: 0; }
img { border: 0; max-width: 100%; }

h1 { 
  font-family: 'Alegreya Sans', Tahoma, sans-serif;
  font-size: 4.2em;
  line-height: 1.3em;
  font-weight: bold;
  margin-bottom: 18px;
  color: #585858;
  text-align: center;
  text-shadow: 1px 1px 0 rgba(255,255,255,0.75);
}
h2 {
  font-family: 'Alegreya Sans', Tahoma, sans-serif;
  font-size: 3.75em;
  line-height: 1.2em;
  font-weight: bold;
  margin-bottom: 5px;
  color: #585858;
  text-align: center;
  text-shadow: 1px 1px 0 rgba(255,255,255,0.75);
}

p {
  font-size: 1.4em;
  line-height: 1.2em;
  color: #777;
}


/** page structure **/
#w {
  display: block;
  max-width: 1000px;
  min-width: 280px;
  margin: 0 auto;
  padding-bottom: 35px;
}

#w header {
  display: block;
  padding-top: 15px;
}

/** Glidejs styles **/
.slider {
	position: relative;
	width: 100%;
	height: 500px;
	overflow: hidden;
}
	
.slides {
  height: 100%;
  overflow: hidden;
  /**	
   * Prevent blinking issue
   * Not tested. Experimental.
   */
  -webkit-backface-visibility: hidden;
  -webkit-transform-style: preserve-3d;

   -webkit-transition: all 500ms cubic-bezier(0.165, 0.840, 0.440, 1.000); 
   -moz-transition: all 500ms cubic-bezier(0.165, 0.840, 0.440, 1.000); 
   -ms-transition: all 500ms cubic-bezier(0.165, 0.840, 0.440, 1.000); 
   -o-transition: all 500ms cubic-bezier(0.165, 0.840, 0.440, 1.000); 
   transition: all 500ms cubic-bezier(0.165, 0.840, 0.440, 1.000);
}
	
.slide {
  height: 100%;
  float: left;
  clear: none;
}
.slide figure {
  display: block;
  position: relative;
  text-align: center;
}
.slide figure img {
  max-height: 480px;
}



.slider-arrows {}

.slider-arrow {
  position: absolute;
  display: block;
  margin-bottom: -20px;
  padding: 20px;
  font-family: 'Alegreya Sans', 'Trebuchet MS', sans-serif;
  text-decoration: none;
  font-weight: 900;
  font-size: 3.0em;
  color: #fff;
  border: 1px solid #fff;
  border-radius: 8px;
  -webkit-transition: all 0.2s linear;
  -moz-transition: all 0.2s linear;
  transition: all 0.2s linear;
}
.slider-arrow:hover {
  background: #ddd;
  color: #aaa;
}
.slider-arrow--right { bottom: 50%; right: 30px; }
.slider-arrow--left { bottom: 50%; left: 30px; }


.slider-nav {
  position: absolute;
  bottom: 50px;
  width: 200px;
}

.slider-nav__item {
  border: 2px solid lightblue;
  width: 12px;
  height: 12px;
  float: left;
  clear: none;
  display: block;
  margin: 0 5px;
  background: #fff;
  -webkit-border-radius: 7px;
  -moz-border-radius: 7px;
  border-radius: 7px;
}
.slider-nav__item:hover { background: #bababa; }
.slider-nav__item--current, .slider-nav__item--current:hover { background: #999; }

/** responsive styles **/
@media screen and (max-width: 1050px) {
  #w { padding: 0 15px; }
  .slider-arrow { font-size: 1.8em; padding: 15px; }
} 

@media screen and (max-width: 650px) {
  h1 { font-size: 2.9em; }
}

@media screen and (max-width: 450px) {
  h1 { font-size: 2.1em; }
}

hr{
	width: 50%;
	border: 2px solid #101316;
}
.Description{
	border: 2px solid white;
	width: 70%;
	margin-top: 90px;
	margin-left: 230px;
	padding-left: 100px;
	padding-right: 100px;
	padding-bottom: 100px;
	transition: .5s;
}
.Description:hover{
	border: 2px solid orange;
	box-shadow: 2px 3px 10px orange;
}
.Description p{
	color: white;
	font-size: 20px;
	line-height: 30px;
}
#FooterContainer{
	display: inline-block;
	position: absolute;
	padding-left: 300px;
	background-color: #101316;
	width: 80%;
	height: 50px;
	float:center;
}
#FooterContainer p{
	display: inline-block;
	padding-top: 16px;
	padding-bottom: 12px;
	text-align: center;
	font-size: 15px;
	width: 100%;
	height: auto;
	color:white;
}
body{
	background-color: #101316;
}
body .sosMed{
	padding-top: 2px;
	padding-left: 10px;
	padding-right: 10px;
	margin: 0 auto;
	position: relative;
	display: inline-block;
	float: right;
	text-align: center;
/*	transition: .5s;*/
}
body .sosMed img{
	width: 45px;
	height: 45px;
}

.sosMed:hover{
	cursor: pointer;
	border-top: 3px solid #101316;
}


.menuContainer #navList p:hover{
	color: white;
	text-decoration: underline;
	text-shadow: 3px 3px 6px white;
}
.menuContainer:hover{
	text-shadow: 4px 4px 8px orange;
	background-color: #232b38;
	opacity: 0.9;
}
.BodyContainer:hover h1{
	text-shadow: 3px 3px 8px white;
}

/*RegisterForm*/
#regFormContainer{
	padding-left: 30px;
	padding-right: 30px;
	padding-bottom: 700px;
	padding-top: 60px;
	height: 550px;
	width: 650px;
	margin:0px auto;
	position:relative;
}
#regFormContainer #formContent{
	position: absolute;
	margin:0 auto;
	padding-left: 50px;
	padding-right: 50px;
	padding-bottom: 70px;
	width: 77%;
	height: auto;
	border: 2px solid rgb(26,26,26);
}
#regFormContainer #formContent h1{
	transition: .5s;
	padding-top:15px;
	padding-bottom:15px;
	padding-left:110px; 
	padding-right:110px;
	margin:0px;
	font-size: 30px;
	text-align: center;
	font-style: italic;
	color:white;
}
label{
	color: white;
	transition: .5s;
}
input[type=text], input[type=password]{
	width: 100%;
	padding-left: 12px;
	padding-top: 10px;
	padding-bottom: 10px;
	margin-top: 10px;
	display: inline-block;
	box-sizing: border-box;
	transition: .5s;
}
textarea{
	resize:none;
	display: inline-block;
    font-size:small;
    padding-left: 12px;
    padding-right: auto;
    vertical-align: -20px;
    width: 85.17%;
}
#formContent p1{
	color:white;
}
#formContent:hover input{
	border: 2px solid orange;
}
#formContent:hover h1{
	text-shadow: 3px 3px 8px white;
}
#formContent:hover label{
	color:orange;
}
.buttonProperties{
	position: absolute;
	width: 85.17%;
	height: auto;
}
button{
	background-color: #3DCC65;
    color: white;
    font-size: 15px;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    float:left;
    width: 49.5%;
}
.btnReset{
	padding: 14px 20px;
	background-color: #F3502C;
}
p{
	color:red;
}

/*Dropdown*/
.DropContainer
{
	margin-top: 2px;
	width: 80%;
	height: auto;
	position
	overflow: hidden;
	display: none;
}

.DropContainer p
{	
    text-decoration: none;
    display: block;
    margin: 0px;
    padding: 0px;

}
.menu:hover .DropContainer
{
	overflow: none;
	display:block;
	width: 100%;
	height: 180%;
	background-color:#232b38;
	opacity: 0.9;
}


/*Heroes*/

.gambar1 img{
	border: 2px solid #101316;
	margin : 30px 15px 0px 0px;
	width: 240px;
	height: 300px;
	float: left;
	transition: 1s;
}
.gambar2 img{
	border: 2px solid #101316;
	margin : 30px 15px 0px 0px;
	width: 240px;
	height: 300px;
	float: left;
	transition: 1s;
}
.gambar3 img{
	border: 2px solid #101316;
	margin : 30px 15px 0px 0px;
	width: 240px;
	height: 300px;
	float: left;
	transition: 1s;
}

.gambar1:hover img{
	border: 2px solid orange;
	margin : 30px 15px 0px 0px;
	width: 300px;
	height: 375px;
	float: left;
	transition: .5s;
}
.gambar2:hover img{
	border: 2px solid orange;
	margin : 30px 15px 0px 0px;
	width: 300px;
	height: 375px;
	float: left;
	transition: .5s;
}
.gambar3:hover img{
	border: 2px solid orange;
	margin : 30px 15px 0px 0px;
	width: 300px;
	height: 375px;
	float: left;
	transition: .5s;
}
.gambar1, .gambar2, .gambar3
{
	margin-left: 270px;
	margin-right: 270px;
	width : 25%;
	height: 435px;
	display: inline-block;
	float: center;
}

.dropdown1, .dropdown2,  .dropdown3
{
	border: 1px solid orange;
	display: none;
    width: 30%;
    height:375px;
    margin : 30px 15px 0px 350px;
    color: white;
    text-align: center;
    padding: 0;
    position: absolute;
    box-shadow: 4px 4px 8px orange;
    font-size: 24px;
}

.dropdown1 h1
{
	text-align: center;
	padding: 0;
	margin-top: 30px;
}

.dropdown2 h1
{
	text-align: center;
	padding: 0;
	margin-top: 30px;
}

.dropdown3 h1
{
	text-align: center;
	padding: 0;
	margin-top: 30px;
}

.gambar1:hover .dropdown1
{
	display: block;
	opacity: 10;
}

.gambar2:hover .dropdown2
{
	display: block;
	opacity: 10;
}

.gambar3:hover .dropdown3
{
	display: block;
	opacity: 10;
}

/*Games*/
.GamesBodyContainer h1{
	transition: .5s;
	padding-top:50px;
	padding-bottom:50px;
	padding-left:110px; 
	padding-right:110px;
	margin:0px;
	font-size: 45px;
	text-align: center;
	font-style: italic;
	color:white;
}
.GamesBodyContainer:hover h1{
	text-shadow: 3px 3px 8px white;
}
.GamesBodyContainer{
	background-color: black;
	width: 100%;
	height: 100%;
	padding-bottom: 450px;
}

.gambarsiege, .gambarpayload, .gambarsurvival
{
	padding-left: 40px;
	margin-left: 85px;
	margin-bottom: 0px;
	border: 2px solid #101316;
	width : 25.5%;
	height: 435px;
	display: inline-block;
}
.gambarsiege img{
	border: 2px solid #101316;
	margin : 30px 15px 0px 0px;
	width: 240px;
	height: 300px;
	float: left;
	transition: 1s;
}
.gambarpayload img{
	border: 2px solid #101316;
	margin : 30px 15px 0px 0px;
	width: 240px;
	height: 300px;
	float: left;
	transition: 1s;
}
.gambarsurvival img{
	border: 2px solid #101316;
	margin : 30px 15px 0px 0px;
	width: 240px;
	height: 300px;
	float: left;
	transition: 1s;
}
.gambarsiege:hover img{
	border: 2px solid orange;
	margin : 30px 15px 0px 0px;
	width: 300px;
	height: 375px;
	float: left;
	transition: .5s;
}
.gambarpayload:hover img{
	border: 2px solid orange;
	margin : 30px 15px 0px 0px;
	width: 300px;
	height: 375px;
	float: left;
	transition: .5s;
}
.gambarsurvival:hover img{
	border: 2px solid orange;
	margin : 30px 15px 0px 0px;
	width: 300px;
	height: 375px;
	float: left;
	transition: .5s;
}
.dropdownsiege h1
{
	text-align: center;
	padding: 0;
	margin-top: 30px;
}

.dropdownpayload h1
{
	text-align: center;
	padding: 0;
	margin-top: 30px;
}

.dropdownsurvival h1
{
	text-align: center;
	padding: 0;
	margin-top: 30px;
}

.dropdownsiege, .dropdownpayload, .dropdownsurvival
{
	border: 1px solid white;
	display: none;
    width: 20%;
    height:375px;
    margin-top: 450px;
    padding-left: 5px;
    padding-right: 5px;
    color: white;
    text-align: center;
    position: absolute;
    text-align: center;
    box-shadow: 4px 4px 8px white;
    transition: .5s;
    font-size: 18px;
    line-height: 30px;
}

.gambarsiege:hover .dropdownsiege
{
	display: block;
	opacity: 10;
}

.gambarpayload:hover .dropdownpayload
{
	display: block;
	opacity: 10;
}
.gambarsurvival:hover .dropdownsurvival
{
	display:block;
	opacity: 10;
}

@media only screen and (max-width: 500px) {
   	 html{
   	 	max-height: 1000px;
   	 }
   	 .headerContainer{
		background-color: black;
		opacity: 0.95;
		width: 100%;
		height: 70px;
	}
	#Logo{
		width: 100px;
		height: 70px;
	}
   	#headingImage{
		width: 100%;
		height: 30%;
	}

	#headingImage #Banner{
		width: 100%;
		height: 100%;
	}
   	* {
	    box-sizing: border-box;
	}
	.menuContainer{
    	transition:.5s;
		width: 100%;
		height: 40px;
	}
	#navList{
		position: absolute;
		display: inline-block;
		width: 100%;
		height: 40px;
	}
	#navList p{
		position: relative;
		text-align: center;
		display: inline-block;
		margin: 0 auto;
		height: 40px;
		width: 100%;
		line-height: 40px;
		font-size: 10px;
		font-family: Optima;
		font-style: italic;
		color: orange;
	}
	.DropContainer
	{

		margin: 0 auto;
		width: 80%;
		height: auto;
		position
		overflow: hidden;
		display: none;
	}
	.menu{
		position: relative;
		display: inline-block;
		text-align: center;
		float: left;
		width: 20%;
		height: auto;
	}

	.BodyContainer{
		padding-bottom: 100%;
		background-color: black;
		width: 100%;
		height: 100%;
	}
	.BodyContainer h1{
		transition: .5s;
		width: 100%;
		margin:0px;
		padding-bottom: 10px;
		padding-top: 10px;
		font-size: 15px;
		text-align: center;
		font-style: italic;
		color:white;
	}

hr{
	margin-top: 70px;
	width: 60%;
	border: 2px solid #101316;

}
.Description{
	border: 2px solid white;
	width: 80%;
	margin-top: 45px;
	margin-left: 50px;
	padding-left: 50px;
	padding-right: 50px;
	padding-bottom: 50px;
	transition: .5s;
}
.Description h1{
	font-size: 15px;
	padding-left: 85px;
}
.Description:hover{
	border: 2px solid orange;
	box-shadow: 2px 3px 10px orange;
}
.Description p{
	color: white;
	font-size: 12px;
	line-height: 17px;
}




#FooterContainer{
	display: inline-block;
	position: absolute;
	padding-left: 80px;
	background-color: #101316;
	width: 80%;
	height: 25px;
	float:center;
}
#FooterContainer p{
	display: inline-block;
	padding-top: 8px;
	padding-bottom: 6px;
	text-align: center;
	font-size: 5px;
	width: 100%;
	height: auto;
	color:white;
}
body{
	position: relative;
	background-color: #101316;
}
body .sosMed{
	padding-top: 3px;
	padding-left: 2px;
	padding-right: 2px;
	margin: 0 auto;
	position: relative;
	display: inline-block;
	float: right;
	text-align: center;
}
body .sosMed img{
	width: 20px;
	height: 20px;
}

.sosMed:hover{
	cursor: pointer;
	border-top: 1px solid #101316;
}

	#w {
 		display: block;
 		max-width: 1000px;
		min-width: 280px;
		max-height: 190px;
   		margin: 0 auto;
		padding-bottom: 35px;
	}
	.slide {
		max-height: 250px;
 		float: left;
 		clear: none;
	}
		.slider {
		position: relative;
		width: 100%;
		height: 250px;
		overflow: hidden;
	}
	
	.slides {
 	 height: 300px;
 	 overflow: hidden;
  /**	
   * Prevent blinking issue
   * Not tested. Experimental.
   */
 	 -webkit-backface-visibility: hidden;
 	 -webkit-transform-style: preserve-3d;

  	 -webkit-transition: all 500ms cubic-bezier(0.165, 0.840, 0.440, 1.000); 
  	 -moz-transition: all 500ms cubic-bezier(0.165, 0.840, 0.440, 1.000); 
  	 -ms-transition: all 500ms cubic-bezier(0.165, 0.840, 0.440, 1.000); 
  	 -o-transition: all 500ms cubic-bezier(0.165, 0.840, 0.440, 1.000); 
   		transition: all 500ms cubic-bezier(0.165, 0.840, 0.440, 1.000);
	}
	.slider-arrow--right { bottom: 25%; right: 30px; }
	.slider-arrow--left { bottom: 25%; left: 30px; }


	.slider-nav {
	    position: absolute;
 		bottom: 50px;
  		width: 100px;
	}

	.slider-nav__item {
		border: 2px solid lightblue;
 		width: 5px;
 		height: 6px;
  		float: left;
		clear: none;
		display: block;
		margin: 0 2.5px;
 		background: #fff;
 		-webkit-border-radius: 7px;
		-moz-border-radius: 7px;
		border-radius: 7px;
	}
	/*RegisterForm*/
	.BodyContainer:hover h1{
		text-shadow: 3px 3px 8px white;
	}
	#regFormContainer{
		padding-left: 50px;
		padding-right: 30px;
		padding-bottom: 750px;
		padding-top: 30px;
		height: 100%;
		width: 100%;
		margin:0px auto;
		position:relative;
	}
	#regFormContainer #formContent{
		position: absolute;
		margin:0 auto;
		padding-left: 50px;
		padding-right: 50px;
		padding-bottom: 70px;
		width: 77%;
		height: auto;
		border: 2px solid rgb(26,26,26);
	}
	#regFormContainer #formContent h1{
		transition: .5s;
		padding-top:15px;
		padding-bottom:15px;
		padding-left:55px; 
		padding-right:55px;
		margin:0px;
		font-size: 15px;
		text-align: center;
		font-style: italic;
		color:white;
	}
	label{
		color: white;
		transition: .5s;
	}
	input[type=text], input[type=password]{
		width: 100%;
		padding-left: 6px;
		padding-top: 5px;
		padding-bottom: 5px;
		margin-top: 10px;
		display: inline-block;
		box-sizing: border-box;
		transition: .5s;
	}
	textarea{
		resize:none;
		display: inline-block;
	    font-size:small;
	    padding-left: 6px;
	    padding-right: auto;
	    vertical-align: -10px;
	    width: 85.17%;
	}
	#formContent p1{
		color:white;
	}
	#formContent:hover input{
		border: 2px solid orange;
	}
	#formContent:hover h1{
		text-shadow: 3px 3px 8px white;
	}
	#formContent:hover label{
		color:orange;
	}
	.buttonProperties{
		position: absolute;
		width: 85.17%;
		height: auto;
	}
	button{
		background-color: #3DCC65;
	    color: white;
	    font-size: 15px;
	    padding: 7px 10px;
	    margin: 8px 0;
	    border: none;
	    cursor: pointer;
	    float:left;
	    width: 40%;
	}
	.btnReset{
		padding: 7px 10px;
		background-color: #F3502C;
	}

/*news*/
.NewsBodyContainer{
	background-color: black;
	width: 100%;
}
#pesan1{
	color: white;
	border: 2px solid blue;
	margin-left: 50px;
	margin-right: 50px;
}
#pesan2{
	color: white;
	border: 2px solid blue;
	margin-left: 50px;
	margin-right: 50px;
}
#pesan3{
	color: white;
	border: 2px solid blue;
	margin-left: 50px;
	margin-right: 50px;
}
#pesan4{
	color: white;
	border: 2px solid blue;
	margin-left: 50px;
	margin-right: 50px;
}
#pesan5{
	color: white;
	border: 2px solid blue;
	margin-left: 50px;
	margin-right: 50px;
}
.BodyContainer{
	background-color: black;
	width: 100%;
	height: 100%;
	padding-bottom: 90px;
}



/*Heroes*/

.gambar1 img{
	border: 2px solid #101316;
	width: 120px;
	height: 150px;
	float: left;
	transition: 1s;
}
.gambar2 img{
	border: 2px solid #101316;
	width: 120px;
	height: 150px;
	float: left;
	transition: 1s;
}
.gambar3 img{
	border: 2px solid #101316;
	width: 120px;
	height: 150px;
	float: left;
	transition: 1s;
}

.gambar1:hover img{
	border: 2px solid orange;
	margin : 30px 15px 0px 0px;
	width: 140px;
	height: 175px;
	float: left;
	transition: .5s;
}
.gambar2:hover img{
	border: 2px solid orange;
	margin : 30px 15px 0px 0px;
	width: 140px;
	height: 175px;
	float: left;
	transition: .5s;
}
.gambar3:hover img{
	border: 2px solid orange;
	margin : 30px 15px 0px 0px;
	width: 140px;
	height: 175px;
	float: left;
	transition: .5s;
}
.gambar1, .gambar2, .gambar3
{
	margin-left: 70px;
	width : 30%;
	height: 240px;
	display: inline-block;
}
.dropdown1, .dropdown2,  .dropdown3
{
	display: none;
	width: 140px;
	height: 175px;
	margin-left: 155px;
	color: white;
	padding: 0;
	position: relative;
	text-align: center;
	box-shadow: 4px 4px 8px orange;
	transition: .5s;
	font-size: 12px;
}



.GamesBodyContainer{
	background-color: black;
	width: 100%;
	height: 100%;
	padding-bottom: 250px;
}
.GamesBodyContainer h1{
	transition: .5s;
	padding-top:50px;
	padding-bottom:50px;
	padding-left:110px; 
	padding-right:110px;
	margin:0px;
	font-size: 22.5px;
	text-align: center;
	font-style: italic;
	color:white;
}
.gambarsiege, .gambarpayload, .gambarsurvival
{
	padding-left: 10px;
	padding-right: 10px;
	margin-left: 10px;
	border: 2px solid #101316;
	width : 30%;
	height: 217.5px;
	display: inline-block;
}
.gambarsiege img{
	border: 2px solid #101316;
	width: 100px;
	height: 125px;
	float: left;
	transition: 1s;
}
.gambarpayload img{
	border: 2px solid #101316;
	width: 100px;
	height: 125px;
	float: left;
	transition: 1s;
}
.gambarsurvival img{
	border: 2px solid #101316;
	width: 100px;
	height: 125px;
	float: left;
	transition: 1s;
}
.gambarsiege:hover img{
	border: 2px solid orange;
	width: 120px;
	height: 150px;
	float: left;
	transition: .5s;
}
.gambarpayload:hover img{
	border: 2px solid orange;
	width: 120px;
	height: 150px;
	float: left;
	transition: .5s;
}
.gambarsurvival:hover img{
	border: 2px solid orange;
	width: 120px;
	height: 150px;
	float: left;
	transition: .5s;
}

.dropdownsiege h1
{
	text-align: center;
	padding: 0;
	margin-top: 10px;
}

.dropdownpayload h1
{
	text-align: center;
	padding: 0;
	margin-top: 10px;
}

.dropdownsurvival h1
{
	text-align: center;
	padding: 0;
	margin-top: 10px;
}

.dropdownsiege, .dropdownpayload, .dropdownsurvival
{
	border: 1px solid white;
	display: none;
    width: 25%;
    height:225px;
    margin-top: 230px;
    padding-left: 5px;
    padding-right: 5px;
    color: white;
    text-align: center;
    position: absolute;
    text-align: center;
    box-shadow: 4px 4px 8px white;
    transition: .5s;
    font-size: 9px;
    line-height: 15px;
}



